@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
    --accent: #5bbfe7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    text-rendering: optimizeLegibility;
}

body {
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(circle at 50%, #242438, #1b1b1b 100%);
    color: #fff;
    height: 100vh;
}

hr {
    border: none;
    background-color: #fff;
    opacity: 0.1;
    height: 1px;
    margin: 1rem 0 1rem 0;
}

a {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: var(--accent);
}

a:hover svg {
    fill: var(--accent);
}

/* Card */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 50%;
    margin: auto;
}

.card .card-header {
    font-size: 34px;
    font-weight: 800;
    text-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}

.card .card-about {
    display: flex;
}

.card .card-about .card-row {
    margin-right: 5rem;
}

.card .card-about h3 {
    opacity: 0.4;
    text-transform: uppercase;
    margin-top: 1rem;
}

.card .card-about ul {
    list-style: none;
}

.card .card-about ul li img {
    margin-right: 0.4rem;
    border-radius: 3px;
    height: 12px;
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.5));
}

.card .card-about ul li {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 0.4rem;
    font-weight: 500;
}

.card .card-about ul li svg {
    height: 12px;
    margin-left: 5px;
}

.card .card-header .card-username {
    color: var(--accent);
}

.card .card-header .card-username::after {
    content: '👋🏻';
    margin-left: 10px;
}

.card .card-body {
    line-height: 1.5;
    text-wrap: wrap;
    margin-top: 1rem;
    opacity: 0.5;
    font-weight: 500;
}

.card .card-body p {
    margin-bottom: 15px;
}

/* Spotify */
.spotify {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 2rem;
    align-items: center;
}

.spotify .spotify-text {
    line-height: 1.5;
}

.spotify .spotify-title {
    font-size: 15px;
    font-weight: 600;
}

.spotify .spotify-artist {
    opacity: 0.5;
    font-size: 12px;
    font-weight: 500;
}

.spotify .spotify-banner {
    position: relative;
    margin-right: 1rem;
    border-radius: 10px;
    background-size: cover;
    border: 1px solid #ffffff36;
    background-position: center;
    background-repeat: no-repeat;
    height: 58px;
    width: 58px;
}

.spotify .spotify-banner::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: inherit;
    filter: blur(15px) saturate(3);
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .card {
        width: 90%;
        padding: 1rem;
    }

    .card .card-about {
        flex-direction: column;
    }

    .card .card-about .card-row {
        margin-right: 0;
    }

    .spotify {
        display: none;
    }

    .clock {
        display: none;
    }
}
